<div class="category-card">
  <%= link_to businesses_path(category) do %>
    <!-- category photo -->
    <div class="category-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
      <%= image_tag(category) %>
    </div>

    <!-- category name -->
    <div class="category-name">
      <%= category %>
    </div>
  <% end %>
</div>


