<div class="container">
  <div class="card-container">
    <div class="row">
      <div class="cards">
        <% @categories.each do |category| %>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <%= render 'card', category: category %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
