<div class="container">
  <div class="card-container">
    <div class="row">
      <div class="cards">
        <h2><%= @category.name %></h2>
        <% @businesses.each do |business| %>
          <%= render 'cards', business: business %>
        <% end %>
      </div>
    </div>
  </div>
</div>
