<% if !user_signed_in? %>
  <body style="background-color: #3BA5A5">
    <div class="container">
      <div class="home-page">
        <div class="not-signed">
          <div class="big-logo">
            <%= image_tag asset_path('logo_moh.png'), class: "style-unsigned" %>
          </div>
          <div class="sign-up">
            <h1>Maid of Honor</h1>
            <h4>Your Personal Wedding Assistant!</h4>
            <p>Don't have an account yet? <%= link_to "Sign Up", new_user_registration_path %></p>
          </div>
        </div>
      </div>
    </div>
  </body>
<% end %>
