.cards {
  text-align: center;
}

.category-card {
  // height: 340px;
  // width: 320px;
  text-align: center;
  border: .5px solid #949494;
  align-items: center;
  margin: 20px;
  padding: 10px;
}

.card-image {
  height: 230px;
  width: 280px;
  background-image: cover;
  border: .5px solid #949494;
}
