<div class="card-container">
  <div class="row">
    <div class="cards">
      <% @categories.each do |category| %>
        <%= link_to categories_path(category) %>
          <div class="col-xs-3">
            <div class="category-card">
              <%= category.name %>
              <div class="category-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
                <%= image_tag(category.name) %>
              </div>
            </div>
          </div>
        <%# end %>
      <% end %>
    </div>
  </div>
</div>
