<div class="col-xs-3">
  <div class="category-card">
    <div class="category-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))">
      <%= image_tag(category.name) %>
    </div>
    <div class="category-name">
        <%= category.name %>
    </div>
  </div>
</div>


